@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap");

:root {
  --primary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Heebo", sans-serif;
  color: var(--primary);
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 1.3rem;
}
ul {
  display: flex;
  gap: 1rem;
}
li {
  list-style: none;
  transition: 0.9s ease-in-out all;
}

li:hover {
  color: #ffffffd0;
  border-bottom: 1px solid #ffffffd0;
}

nav {
  position: absolute;
  left: 0%;
  top: 0%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1rem 2rem;
}
